{% extends 'base.html.twig' %}

{% block body %}
    <h1>Review</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ review.id }}</td>
            </tr>
            <tr>
                <th>Descripton</th>
                <td>{{ review.descripton }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ review.userid }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ review.createdBy }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if review.updatedAt %}{{ review.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reviews_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reviews_edit', { 'id': review.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
